{{#extends 'base'}}
{{#block 'content'}}
<h1>About flora and fauna posters</h1>
<img src="https://www.sciencenewsforstudents.org/wp-content/uploads/2020/04/1030_LL_trees-1028x579.png" alt="old tree" width="auto" height="600">
{{/block}}
{{/extends}}
